.password__icon {
    position: fixed;
    z-index: 2;
    top: 15px;
    right: 15px;
    width: auto;
    height: 30px;
    opacity: 1;
    cursor: pointer;
}

.password__box {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.password__box-form {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}


/* --- Password close button --- */

@media (max-width: 1024px) {
  .password__box-close {
    top: -10px;
    right: 35px;
    width: 10px;
    height: 10px;
    font-size: 48px;
  }
}

@media (min-width: 1025px) and (max-width: 1920px){
  .password__box-close {
      top: 50%;
      margin-top: -80px;
      right: 150px;
      width: 150px;
      height: 150px;
      line-height: 150px;
      font-size: 48px;
  }
}

@media (min-width: 1921px) {
  .password__box-close {
      top: 50%;
      /* margin-top: -80px; */
      transform: translatey(-50%);
      /* right: 150px; */
      right: 0%;
      width: 7.8vw;
      height: 7.8vw;
      line-height: 7.8vw;
      font-size: 2.5vw;
  }
}

.password__box-close {
    position: absolute;
    z-index: 999;
    display: block;
    color: white;
    cursor: pointer;
    text-align: center;
}


/* --- Password Input --- */

@media (max-width: 767px) {
  .password__box-input {
      top: 50%;
      margin-top: -80px;
      line-height: 150px;
      height: 150px;
      font-size: 32px;
      font-weight: 100;
  }
}

@media (min-width: 768px) and (max-width: 1920px){
  .password__box-input {
      top: 50%;
      margin-top: -80px;
      line-height: 150px;
      height: 150px;
      font-size: 72px;
      font-weight: 100;
  }
}

@media (min-width: 1921px) {
  .password__box-input {
      top: 50%;
      margin-top: -80px;
      line-height: 150px;
      height: 150px;
      font-size: 3.75vw;
      font-weight: 100;
      padding: 0 300px !important;
  }
}

.password__box-input {
  padding: 0 15% !important;
  left: 0px;
  right: 0px;
  position: absolute;
  display: block;
  background: transparent;
  color: white;
  border: 0;
  outline: none;
}

.password__box-form-submit {
    display: none;
}
