@media (max-width: 1920px) {
    .feedback__icon {
        height: 30px !important;
    }
}

@media (max-width: 1200px) {
    .feedbackWrapper input {
        font-size: 16pt !important;
    }

    .feedbackWrapper textarea {
        min-height:350px;
        font-size: 16pt !important;
    }

    .feedbackWrapper button {
        width: auto;
        font-size: 16pt !important;
    }

    .feedback-headline {
        width: 90% !important;
    }

    .feedback-headline-extra-space {
        margin-top: 10vh !important;
        font-size: 20px !important;
    }

    .feedback-send-button-div {
        width: 90% !important;
    }
}

.feedback__icon {
    position: fixed;
    z-index: 2;
    bottom: 15px;
    right: 15px;
    width: auto;
    height: 2.2vw;
    opacity: 1;
    cursor: pointer;
}

.feedback__box {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.feedback__box-icon {
    position: absolute;
    opacity: 0.2;
    height: 60px;
    display: block;
    top: 50%;
    margin-top: -34px;
    left: 150px;
}

.feedback__box-close {
    top: 50%;
    margin-top: -80px;
    right: 150px;
    position: absolute;
    z-index: 999;
    display: block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 48px;
    color: white;
    cursor: pointer;
}

.feedbackWrapper {
    margin: auto;
    /*width: 650px;*/
    width: 100%;
    margin-top: 10px;
    z-index: 10;
    position: relative;
}

.feedbackScroller {
    overflow-x: hidden;
    overflow-y: auto;
    height: 90vh;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.feedbackWrapper input, .feedbackWrapper textarea, .feedbackWrapper button {
    width: calc(100% - 1vw);
    margin: 1vw 0;
    padding: 0.5vw;
    border: 0.1vw solid white;
    border-radius: 0.3vw;
    font-size: 1.5vw;
    font-family: "Geogrotesque", sans-serif;
}

.feedbackWrapper form {
    text-align: center;
    color: white;
    font-family: "Geogrotesque", sans-serif;
}

.feedbackWrapper textarea {
    height: 20vw;
}

.feedbackWrapper button {
    color: white;
    background: transparent;
    width: auto;
    float: right;
    cursor: pointer;
    padding: 0.5vw 1.5vw;
    clear: both;
}

.feedback-headline {
    width: 50%;
    margin: 2vw auto 1vw auto;
    font-size: 2vw;
    text-align: left;
    line-height: 1.5vw;
    color: white;
}

.feedback-send-button-div {
    width: 50%;
    margin: auto;
}
