@import '../../colors.scss';
@media (max-width: 1920px) {
    .filtermenuitem {
        padding: 5px 0 5px 30px !important;
        margin: 5px !important;
    }
    .filtermenuitem__filtertitle {
        font-size: inherit !important;
    }
    .filtermenuitem__filtercount {
        font-size: inherit !important;
    }
    .filtermenuitem__legenditem {
        top: 7px !important;
        left: 6px !important;
        width: 14px !important;
        height: 14px !important;
    }
    .filtermenuitem.filtermenuitem__selected .filtermenuitem__legenditem-inner {
        width: 18px !important;
        height: 18px !important;
    }
}

@media (min-width:1921px){
  .filtermenuitem__filtercount {
    flex: 0 0 2vw;
  }
}

@media (max-width:1920px){
  .filtermenuitem__filtercount {
    flex: 0 0 35px;
  }
}

.filtermenuitem__height {
    overflow: hidden;
    transition: height 0.15s;
}

.filtermenuitem {
    box-sizing: border-box;
    display: block;
    padding: 0.26vw 0 0.26vw 1.6vw;
    margin: 0.26vw 0;
    color: $filters_enabled;
    position: relative;
    line-height: 1.4;
    opacity: 0.3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.filtermenuitem__asRadioButtons {
    opacity: 1.0 !important;
    cursor: pointer;
}

.filtermenuitem__legenditem {
    position: absolute;
    top: 0.4vw;
    left: 0.313vw;
    width: 0.73vw;
    height: 0.73vw;
    border-radius: 50%;
    border: 2px solid $filters_enabled;
    flex: 0 0 50px;
}

.filtermenuitem__possible .filtermenuitem__legenditem {
    cursor: pointer;
}

.filtermenuitem__filtertitle {
  flex-grow:1;
}

.filtermenuitem__filtercount {
  padding-left:2px;
  text-align: right;
  font-weight: 300;
  font-size: 0.83vw;
  font-family: "Benton Sans", sans-serif;
  color: #b9b9b9;
}

.filtermenuitem.filtermenuitem__possible {
    opacity: 1;
    cursor: pointer;
}

.filtermenuitem__filtertitle {
    font-weight: 300;
    font-size: 0.83vw;
    font-family: "Geogrotesque", sans-serif;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    // max-width: 95%;
    // white-space: nowrap;
    // overflow: hidden;
}

.filtermenuitem.filtermenuitem__selected .filtermenuitem__filtertitle {
    font-weight: 700;
}

.filtermenuitem.filtermenuitem__selected .filtermenuitem__legenditem-inner {
    width: 0.93vw;
    height: 0.93vw;
    top: -2px;
    left: -2px;
}

.filtermenuitem__legenditem-inner {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: white;
}
