@media (max-width: 1920px) {
  .mainfilter__title {
    font-size: 14px !important;
  }
  .mainfilter__triangle {
    border-width: 8.7px 5px 0 5px !important;
  }
}

.mainfilter {
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 0;
  margin: 0 15px;
}

.mainfilter__title {
    position: relative;
    text-transform: capitalize;
    padding: 5px 0;
    font-weight: 400;
    font-size: 0.92vw;
    letter-spacing: 0.8px;
    color: #c2c2c2;
    cursor: pointer;
}

.mainfilter__triangle {
  display: inline-block;
  position: relative;
  left: 10px;
  top: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.45vw 0.3vw 0 0.3vw;
  border-color: #c2c2c2 transparent transparent transparent;
  transform: rotate(-90deg);
  transition: transform .2s;
}

.mainfilter__active .mainfilter__triangle {
  transform: rotate(0)
}
