#noResults {
    /*position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;*/
/*    margin-left: -150px;
    margin-top: -150px;*/

    left: 0;
    line-height: 200px;
    margin-top: -150px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.noResults_Text {
	font-size: 4em;
}
