/*.filters__overview .search__icon {
    left: 0.25vw !important;
    top: 12vw !important;
}*/



@media (max-width: 1920px) {
    .search__icon {
        height: 55px !important;
        width: 55px !important;
        line-height: 55px;
        top: 100px !important;
        left: 190px !important;
        font-size: 11px !important;
        line-height: 55px !important;
    }
    .search__box-close {
        width: 150px !important;
        height: 150px !important;
        line-height: 150px !important;
        text-align: center;
        font-size: 48px !important;
    }

}
.search {
    display: inline-block;
    width: 90%;
    top: 120px;
    height: 20px;
    position: relative;
    left: 5%;
}
/*
@media (max-width: 480px) {
    .search__icon {
        height: 32px !important;
        padding: 18px !important;
        top: 255px !important;
    }
    .search__box-close {
        top: 15px !important;
        transform: translatey(-0%) !important;
        right: 15px !important;
        text-align: center;
        font-size: 48px !important;
    }
    .search__suggestion_keyword {
        font-size: 18px !important;
    }
}

@media (max-width: 767px) {
    .react-autosuggest__suggestions-container {
        left: 0 !important;
        max-width: 65% !important;
        font-size: 3vh !important;
        line-height: 3.5vh !important;
    }
    .react-autosuggest__suggestions-container li {
        font-size: 13pt !important;
        margin-bottom: 10px !important;
        line-height: 120% !important;
    }
}
*/
.react-autosuggest__suggestions-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
    background: rgba(255,255,255,0.2);
}

.react-autosuggest__suggestions-container::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: white;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.search__send-button {
    font-family: "Benton Sans", sans-serif;
    background: #aaa;
    color: white;
    border-radius: 4px;
    float: right;
    cursor: pointer;
    display: block;
    height: 44px;
    border: none;
    width: 48px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #aaa;
}

.search__send-button__div {
position: absolute;
    z-index: 99999999;
    width: 15px;
    right: 0px;
    top: 0px;
    overflow: visible;
}

.search__icon {
    position: fixed;
    z-index: 5;
    top: 5vw;
    left: 7.5vw;
    width: 2.5vw;
    height: 2.5vw;
    opacity: 1;
    cursor: pointer;
    background-color: #272727;
    border-radius: 100vw;
    font-size: 0.5vw;
    color: white;
    white-space: nowrap;
    text-align: center;
    line-height: 2.5vw;
}


.search__icon__button {
    width: auto;
    height: 85%;
    vertical-align: middle;
}

.search__box {
    z-index: 10;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.search__box-icon {
    position: absolute;
    opacity: 0.2;
    height: 60px;
    display: block;
    top: 50%;
    margin-top: -34px;
    left: 150px;
}

.search__box-form {
    display: inline-block;
    position: absolute;
    height: 60%;
    width: 100%;
}

.search__box-close {
    top: 10%;
    /*margin-top: -80px;*/
    transform: translatey(-10%);
    /*right: 150px;*/
    right: 0%;
    position: absolute;
    z-index: 99999999;
    display: block;
    width: 7.8vw;
    height: 7.8vw;
    line-height: 7.8vw;
    text-align: center;
    font-size: 2.5vw;
    color: white;
    cursor: pointer;
}

.search__box-input {
    display: block;
    right: 0;
    font-size: 16px;
    font-weight: 100;
    background: transparent;
    color: #fff !important;
    outline: none;
    width: 90%;
    border: 1px solid #aaa;
    border-radius: 4px;
    top: 10%;
    font-family: 'Benton Sans', sans-serif;
    height: 44px;
    box-sizing: border-box;
    padding: 10px;
}

.search__box-input::-ms-clear,
.search__box-input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

.search__box-form-submit {
    display: none;
}

.react-autosuggest__suggestions-container {
    position: relative;
    z-index: 10;
    background: transparent;
    color: white;
    font-size: 14px;
    line-height: 22px;
    top: 17%;
    height: 75vh;
    overflow-y: auto;
    font-family: 'Benton Sans', sans-serif !important;
    font-weight: lighter;
    width: 100%;
    margin-top: 20px;
}

.react-autosuggest__suggestions-container li {
    font-family: 'Benton Sans';
    list-style-type: none;
    cursor: pointer;
    border-bottom: 1px solid #666;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 9px;
    letter-spacing: 0.6px;
    hyphens: none;
    padding-top: 9px;
    color: #ddd;
}

ul.react-autosuggest__suggestions-list {
    padding: 10px;
}

@media (max-width: 1920px) {
    .matrix__button {
        height: 55px !important;
        width: 55px !important;
        line-height: 55px;
        top: 100px !important;
        left: 20px !important;
        font-size: 11px !important;
        line-height: 55px !important;
    }
}

.matrix__button {
    position: fixed;
    z-index: 5;
    top: 5vw;
    left: 1vw;
    width: 2.5vw;
    height: 2.5vw;
    opacity: 1;
    cursor: pointer;
    background-color: #272727;
    border-radius: 100vw;
    font-size: 0.5vw;
    color: #eee;
    white-space: nowrap;
    text-align: center;
    line-height: 2.5vw;
}
